body{
    margin: 0;
}

.vim-wrapper{
    background-color: #eee;
    padding: 10px;
    position: relative;
}
.vim-slider{
   list-style: none;
   padding: 0;
    margin: 0;
}

.vim-slider .vimSlide-item {
    position: relative;
    display: none;
}

.vim-slider .vimSlide-item.active {
    display: block;
}

.vim-slider .vimSlide-item img,
.vim-slider .vimSlide-item video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Next, prev buttons*/
.vim-wrapper .vimSlide-next,
.vim-wrapper .vimSlide-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    width: auto;
    padding: 16px;
    color: transparent;
    transition: 0.6s ease;
    user-select: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vim-wrapper .vimSlide-next {
    background-image: url("../images/arrow_right.png");
    right: 10px;
}

.vim-wrapper .vimSlide-prev {
    background-image: url("../images/arrow_left.png");
    left: 10px;
}

.vimSlide-dots {
    margin-top: 10px;
    text-align: center;
}

.vimSlide-dots .vimSlide-dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.vimSlide-dot.selected, .vimSlide-dot:hover {
    background-color: #717171;
}

/* Media Queries*/
@media (max-width: 1024px) {
    .vim-slider .vimSlide-item img,
    .vim-slider .vimSlide-item video{
        height: 500px;
    }
}

@media (max-width: 991px) {
    .vim-slider .vimSlide-item img,
    .vim-slider .vimSlide-item video{
        height: 450px;
    }
}

@media (max-width: 767px) {
    .vim-slider .vimSlide-item img,
    .vim-slider .vimSlide-item video{
        height: 400px;
    }
}

@media (max-width: 600px) {
    .vim-slider .vimSlide-item img,
    .vim-slider .vimSlide-item video{
        height: 350px;
    }
}

@media (max-width: 425px) {
    .vim-slider .vimSlide-item img,
    .vim-slider .vimSlide-item video{
        height: 300px;
    }
}


/* Animations */
/* FADE */
.fade {
    -webkit-animation: fade 1.5s;
    -moz-animation: fade 1.5s;
    -o-animation: fade 1.5s;
    animation: fade 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-moz-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-ms-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-o-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* SLIDE */
.slide {
    -webkit-animation: slide 1.5s;
    -moz-animation: slide 1.5s;
    -o-animation: slide 1.5s;
    animation: slide 1.5s;
}

@-webkit-keyframes slide {
    from {
        opacity: .4;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin: 0;
    }
}

@-moz-keyframes slide {
    from {
        opacity: .4;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin: 0;
    }
}

@-ms-keyframes slide {
    from {
        opacity: .4;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin: 0;
    }
}

@-o-keyframes slide {
    from {
        opacity: .4;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin: 0;
    }
}

@keyframes slide {
    from {
        opacity: .4;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin: 0;
    }
}